* for 반복문

In [1]:
for i in range(10):
    print("hello world", i)

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9

In [2]:
for i in range(2,8):
    print("hello world", i)

hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7

In [3]:
for i in range(2,8, 2):
    print("hello world", i)

hello world 2
hello world 4
hello world 6

In [5]:
for i in range(10, 0, -2):
    print("hello world", i)

hello world 10
hello world 8
hello world 6
hello world 4
hello world 2

In [6]:
for i in reversed(range(10)):
    print("hello world", i)

hello world 9
hello world 8
hello world 7
hello world 6
hello world 5
hello world 4
hello world 3
hello world 2
hello world 1
hello world 0

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

* 구구단 출력하기

In [12]:
n = int(input())

2

In [13]:
for i in range(1,10):
    print(n, '*', i, '=', n*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

* 변수 두개를 다르게 반복하기

In [16]:
i = 2; j=5

while i <= 32 or j >= 1:
    print(i, j)
    i *= 2
    j -= 1

2 5
4 4
8 3
16 2
32 1

In [24]:
i =0
while True:
    
        
    if i % 10 != 3:
        i += 1
        continue
 
    if i > 73:
        break  
        
    print(i, end=' ')
    i+=1

3 13 23 33 43 53 63 73

* 계단식으로 별 출력하기

In [25]:
for i in range(5):
    for j in range(5):
        if j<=i:
            print("*", end="")
    print()

*
**
***
****
*****

* 역삼각형 모양으로 별 출력하기

In [26]:
for i in range(5):
    for j in range(5):
        if j < i:
            print(" ", end="")
        else:
            print("*", end="")                    
    print()

*****
 ****
  ***
   **
    *

In [35]:
for i in range(5):
    for j in range(5):
        if i <= j:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*****
 ****
  ***
   **
    *

In [36]:
for i in range(5):
    for j in range(5):
        if j >= i:
            print("", end="*")
        else:
            print(" ", end="")
    print()

*****
 ****
  ***
   **
    *

* 산 만들기

In [37]:
heignt = int(input())

5

In [50]:
for i in range(heignt):
    for j in reversed(range(heignt)):
    #for j in range(heignt-1, -1, -1):
        if j > i:
            print(" ", end="")
        else:
            print("*", end="")
    for j in range(heignt):
        if j < i:
            print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

In [49]:
height = int(input())
for i in range(height):
  for j in range(height-i):
    print(" ", end="")
  for j in range(i*2+1):
    print("*", end="")
  print()

5
     *
    ***
   *****
  *******
 *********

* FizzBuzz

In [51]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 ==0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

* 리스트, 튜플 응용

In [54]:
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [55]:
a.append([600, 700])
a

[10, 20, 30, 500, [600, 700]]

In [56]:
a.extend([800, 900])
a

[10, 20, 30, 500, [600, 700], 800, 900]

In [57]:
a = [10, 20, 30]
b = [40, 50, 60]
a.extend(b)

In [58]:
a

[10, 20, 30, 40, 50, 60]

In [60]:
a = [10, 20, 30]
b = [40, 50, 60]
a + b

[10, 20, 30, 40, 50, 60]

In [61]:
a

[10, 20, 30]

In [62]:
b

[40, 50, 60]

* 리스트 조작하기

In [63]:
a = [10, 20, 30]
a.insert(0, 500)
a

[500, 10, 20, 30]

In [64]:
a = [10, 20, 30]
a.insert(len(a), 500)
a

[10, 20, 30, 500]

In [65]:
a = [10, 20, 30]
a.insert(1, [500, 600])
a

[10, [500, 600], 20, 30]

In [68]:
a = [10, 20, 30]
a[1:1] = [500, 600]
a

[10, 500, 600, 20, 30]

* 리스트와 반복문

In [69]:
# option 1
l1 = ['a','b','c','d','a','b','a','b']
l2 = ['b','a']

l3 = []
for i in l1:
    if i not in l2:
        l3.append(i)
            
print(l3)

['c', 'd']

In [70]:
#optin 2
l1 = ['a','b','c','d','a','b','a','b']
l2 = ['b','a']

for i in l2:
    while i in l1:
        l1.remove(i)
print(l1)

['c', 'd']

In [71]:
#option 3
l1 = ['a', 'b', 'c', 'd', 'a', 'b', 'a', 'b']
l2 = ['b', 'a']

for i in l1:
    for i in l2:
        l1.remove(i)
print(l1)

['c', 'd']

* 리스트 표현식

In [74]:
l = []
for i in range(10):
    l.append(i*2)
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [75]:
#위의 코드와 아래 리스트 표현식은 동일
[i*2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

* 사전 - 알파벳별 빈도수 만들기

In [76]:
s = 'life is short, so python is easy.'
d = {}
for i in range(len(s)):
    if s[i] != ',' and s[i] != '.' and s[i] != ' ':
        if s[i] not in d:
            d[s[i]] = 1
        else:
            d[s[i]] += 1
print(d)

{'l': 1, 'i': 3, 'f': 1, 'e': 2, 's': 5, 'h': 2, 'o': 3, 'r': 1, 't': 2, 'p': 1, 'y': 2, 'n': 1, 'a': 1}

In [77]:
s='life is short, so python is easy'
punct=',. '
d={}
for i in s:
    if i not in punct and i not in d:
        d[i] = s.count(i)
print(d)

{'l': 1, 'i': 3, 'f': 1, 'e': 2, 's': 5, 'h': 2, 'o': 3, 'r': 1, 't': 2, 'p': 1, 'y': 2, 'n': 1, 'a': 1}

In [78]:
s = 'life is short, so python is easy.'
punct = ',. '
d = {}

for i in s:
    if i not in punct:
        if i not in d:
            d[i] = 1
        else:
            d[i] += 1
print(d)

{'l': 1, 'i': 3, 'f': 1, 'e': 2, 's': 5, 'h': 2, 'o': 3, 'r': 1, 't': 2, 'p': 1, 'y': 2, 'n': 1, 'a': 1}

In [80]:
s = "life is short, so python is easy."
punct = ",. "
d = {}
for i in s:
    if i not in punct:
        d[i] = s.count(i)
d

{'l': 1,
 'i': 3,
 'f': 1,
 'e': 2,
 's': 5,
 'h': 2,
 'o': 3,
 'r': 1,
 't': 2,
 'p': 1,
 'y': 2,
 'n': 1,
 'a': 1}

In [81]:
s='life is short, so python is easy'
d=dict(zip([i for i in s if i not in punct],[s.count(i) for i in s if i not in punct]))
print(d)

{'l': 1, 'i': 3, 'f': 1, 'e': 2, 's': 5, 'h': 2, 'o': 3, 'r': 1, 't': 2, 'p': 1, 'y': 2, 'n': 1, 'a': 1}

In [82]:
import random
random.randint(1,5)

3

In [ ]:
* 지뢰 찾기

In [85]:
#사용자 입력으로 행, 열 저장하기
cols, rows = map(int, input().split())

3 3

In [86]:
cols, rows

(3, 3)

In [88]:
matrix = []
for i in  range(rows):
    matrix.append(list(input()))

*..
.**
**.

In [89]:
matrix

[['*', '.', '.'], ['.', '*', '*'], ['*', '*', '.']]

In [ ]:
*32
4**
**3

In [91]:
matrix=[]
col,row = map(int,input().split())
for i in range(row):
    matrix.append(list(input()))

d=[[-1,-1],[-1,0],[-1,1],[0,-1],[0,1],[1,-1],[1,0],[1,1]] #chk할 방향 상대 경로

for i in range(row):
    for j in range(col):
        if matrix[i][j]=='.': 
            matrix[i][j] = 0  #0으로 초기화
            for x,y in d:
                if 0<= i+x <row and 0<= i+y <col: #행렬안에 있는 경우만
                    if matrix[i+x][i+y] == '*':
                        matrix[i][j] +=1

print('출력')
for i in matrix:
    for j in i:
        print(j,end='')
    print()

3 3
*..
..*
.*.
출력
*00
33*
2*2

In [94]:
n, m = map(int, input().split())
mp = [list(input()) for _ in range(m)]

dx = [-1, 0, 1, 0, 1, 1, -1, -1]
dy = [0, -1, 0, 1, 1, -1, 1, -1]

for i in range(n):
    for j in range(m):
        cnt = 0
        if mp[i][j]=='.':
            for k in range(8):
                nx = i + dx[k]
                ny = j + dy[k]
                if 0 <= nx < n and 0 <= ny < m:
                    if mp[nx][ny] == '*':
                        cnt += 1
            mp[i][j] = cnt
            
for i in range(n):
    for j in range(m):
        print(mp[i][j], end='')
    print()

3 3
*..
..*
.*.
*21
23*
1*2

In [93]:
n, m = map(int, input().split())
matrix = []
for _ in range(n):
    matrix.append(list(input()))

dx = [-1,1,0,0,-1,-1,1,1]
dy = [0,0,-1,1,-1,1,1,-1]
for i in range(n):
    for j in range(m):
        cnt = 0
        if matrix[i][j] == '.':
            for k in range(8):
                nx = i + dx[k]
                ny = j + dy[k]
                if 0 <= nx < n and 0 <= ny < m:
                    if matrix[nx][ny] == '*':
                        cnt += 1
                
            matrix[i][j] = cnt
            
print(matrix)

3 3
*..
.**
*..
[['*', 3, 2], [3, '*', '*'], ['*', 3, 2]]